<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EOS Block Explorer</title>
  <meta name="EOS Block Explorer" content="Cryptocurrency transactions and accounts explorer">
  <meta name="Hugo Campanellla" content="HKEOS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!--Semantic UI Setup-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
  
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/stylesheets/semantic.min.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <!--Custom css-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

</head>

<!--Nav Bar-->
<div class="ui inverted attached stackable menu">
  <div class="ui container">
    <span class="item" href="/">
      <i class="circle icon"></i>Logo
    </span>
    <a class="item" href="/">
      <i class="home icon"></i>Home
    </a>
    <a class="item" href="/blocks">
      <i class="cubes icon"></i>Blocks
    </a>
    <a class="item" href="/transactions">
      <i class="tag icon"></i>Transactions
    </a>
    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div>
  </div>
</div>

<body>