<% include partials/header %>

<div class="ui raised padded container segment main-div">   
<!--Header-->
    <h2>EOS Address</h2>
    <div class="tx-box"><small>Addresses are identifiers which you use to send EOS to another person.</small></div>
<!--Content-->
<div class="ui two column doubling stackable grid container">
        <div class="row">
            <div class="column" id="info">
                <!--Start of Table -->
                <table class="ui celled striped table">
                  <thead>
                    <tr><th colspan="3" class="six wide">
                    Account Summary
                    </th>
                  </tr></thead>
                  <tbody>
                    <tr>
                      <td class="collapsing">
                        <i class="user icon"></i>Address:
                      </td>
                      <td>3CdYDe5CEDMn8SZoaH27hxuU89sZqV6CjQ</td>
                
                    </tr>
                    <tr>
                      <td>
                        <i class="qrcode icon"></i>Hash:
                      </td>
                      <td>7801023190f2659e23c0d0e960502d584de8014f</td>
                    </tr>
                    
                    <tr>
                      <td>
                        <i class=""></i>Tools:
                      </td>
                      <td> </td>
                    </tr>
                    
                  </tbody>
                </table>
                <!--End of in div table-->
            </div>
            <!--End of left column div-->
            
            <div class="column" id="info">
                <!--Start of Table -->
                <table class="ui celled striped table">
                  <thead>
                    <tr><th colspan="3" class="six wide">
                      Transactions Information
                    </th>
                  </tr></thead>
                  <tbody>
                    <tr>
                      <td class="collapsing">
                        <i class=""></i>No. Transactions:
                      </td>
                      <td>56</td>
                
                    </tr>
                    <tr>
                      <td>
                        <i class=""></i>Total Received:
                      </td>
                      <td>564 EOS</td>
                    </tr>
                    
                    <tr>
                      <td>
                        <i class=""></i>Final Balance
                      </td>
                      <td>342 EOS</td>
                    </tr>
                    
                  </tbody>
                </table>
                <!--End of table-->
            </div>
            <!--End of right column div-->
        </div>
    </div>
<h2>Transactions</h2>
<!--Transactions content-->
    <div class="item">
    <!--Item = Transactions bulk-->
        <div class="ui one column doubling stackable grid container">
            <div class="row">
                <div class="column" id="info">
                    <!--Start of Table -->
                    <table class="ui celled striped table">
                        <!--Table Head-->
                        <thead>
                            <tr>
                                <th colspan="2" class="nine wide">
                                    <a href"">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a> 
                                </th>                        
                                <th colspan="1" class="three wide right aligned">
                                2018-05-25 08:08:06
                                </th>
                            </tr>
                        </thead>
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">0.02 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">1.65 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">485 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">48 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">432 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">323 EOS</td>
                            </tr>
                            <!--Total transacitons-->
                            <tr>
                                <td colspan="2" ></td>
                                <td colspan="1" class="positive right aligned">
                                1244 EOS
                                </td>
                            </tr>
                        </tbody>
                        <!--End of transactions list-->
                    </table>
                </div>
            </div>
        </div>
    </div>     
    
    <div class="item">
    <!--Item = Transactions bulk-->
        <div class="ui one column doubling stackable grid container">
            <div class="row">
                <div class="column" id="info">
                    <!--Start of Table -->
                    <table class="ui celled striped table">
                        <!--Table Head-->
                        <thead>
                            <tr>
                                <th colspan="2" class="nine wide">
                                    <a href"">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a> 
                                </th>                        
                                <th colspan="1" class="three wide right aligned">
                                2018-05-25 08:08:06
                                </th>
                            </tr>
                        </thead>
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">0.02 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">1.65 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">485 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">48 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">432 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">323 EOS</td>
                            </tr>
                            <!--Total transacitons-->
                            <tr>
                                <td colspan="2" ></td>
                                <td colspan="1" class="positive right aligned">
                                1244 EOS
                                </td>
                            </tr>
                        </tbody>
                        <!--End of transactions list-->
                    </table>
                </div>
            </div>
        </div>
    </div> 


<!--End of main-div-->
</div>

<% include partials/footer %>
