<% include partials/header %>

<div class="ui raised padded container segment main-div">   
<!--Header-->
<h2>Block #5639450</h2>
<div class="tx-box"><small></small></div>
<!--Content-->
<div class="ui two column doubling stackable grid container">
        <div class="row">
            <div class="column" id="info">
                <!--Start of Table -->
                <table class="ui celled striped table">
                  <thead>
                    <tr><th colspan="3" class="six wide">
                      Information Summary
                    </th>
                  </tr></thead>
                  <tbody>
                    <tr>
                      <td class="collapsing">
                        <i class=""></i>Number Of Transactions in Block:
                      </td>
                      <td>4657</td>
                
                    </tr>
                    <tr>
                      <td>
                        <i class=""></i>Total Value:
                      </td>
                      <td>560 EOS</td>
                    </tr>
                    
                    <tr>
                      <td>
                        <i class=""></i>Height:
                      </td>
                      <td>475 <span id="positive-content">(Main Chain)</span></td>
                    </tr>
                    
                    <tr>
                      <td>
                        <i class=""></i>Timestamp:
                      </td>
                      <td>2018-05-25 08:08:11 <span id=positive-content>(UTC)</span></td>
                    </tr>
                    
                    <tr>
                      <td>
                        <i class=""></i>Received Time:
                      </td>
                      <td>2018-05-25 08:08:11 <span id=positive-content>(UTC)</td>
                    </tr>
                    
                    <tr>
                      <td>
                        <i class=""></i>Produced by:
                      </td>
                      <td>HKEOS</td>
                    </tr>
                  </tbody>
                </table>
                <!--End of table-->
            </div>
            <!--End of left column div-->
            
            <div class="column" id="info">
                <!--Start of Table -->
                <table class="ui celled striped table">
                  <thead>
                    <tr><th colspan="3" class="six wide">
                      Hashes
                    </th>
                  </tr></thead>
                  <tbody>
                    <tr>
                      <td class="collapsing">
                        <i class=""></i>Hash:
                      </td>
                      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                
                    </tr>
                    <tr>
                      <td>
                        <i class=""></i>Previous Hash:
                      </td>
                      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                    </tr>
                    
                    <tr>
                      <td>
                        <i class=""></i>Next Hash(es):
                      </td>
                      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                    </tr>
                    
                    <tr>
                      <td>
                        <i class=""></i>Merckle Root:
                      </td>
                      <td>1 day 45 mins ago (May-23-2018 06:56:24 AM +UTC)</td>
                    </tr>
                  </tbody>
                </table>
                <!--End of table-->
            </div>
            <!--End of right column div-->
        </div>
    </div>

<!--Transactions list header-->
<h2>Transactions</h2>
<small>List of transactions in the Block</small>
<!--Transactions list content-->
<div class="ui relaxed divided list">
    <!--item = Transactions bulck-->
    <div class="item">
        <div class="ui one column doubling stackable grid container">
            <div class="row">
                <div class="column" id="info">
                    <!--Start of Table -->
                    <table class="ui celled striped table">
                        <!--Table Head-->
                        <thead>
                            <tr>
                                <th colspan="2" class="nine wide">
                                    <a href"">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a> 
                                </th>                        
                                <th colspan="1" class="three wide right aligned">
                                2018-05-25 08:08:06
                                </th>
                            </tr>
                        </thead>
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">0.02 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">1.65 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">485 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">48 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">432 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">323 EOS</td>
                            </tr>
                            <!--Total transacitons-->
                            <tr>
                                <td colspan="2" ></td>
                                <td colspan="1" class="positive right aligned">
                                1244 EOS
                                </td>
                            </tr>
                        </tbody>
                        <!--End of transactions list-->
                    </table>
                </div>
            </div>
        </div>
    </div>     
    <!--Second item-->
    <div class="item">
        <div class="ui one column doubling stackable grid container">
            <div class="row">
                <div class="column" id="info">
                    <!--Start of Table -->
                    <table class="ui celled striped table">
                        <!--Table Head-->
                        <thead>
                            <tr>
                                <th colspan="2" class="nine wide">
                                    <a href"">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a> 
                                </th>                        
                                <th colspan="1" class="three wide right aligned">
                                2018-05-25 08:08:06
                                </th>
                            </tr>
                        </thead>
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">0.02 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">1.65 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">485 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">48 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">432 EOS</td>
                            </tr>
                            
                            <tr>
                                <td class="collapsing">
                                0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5
                                </td>
                                <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
                                <td class="right aligned collapsing">323 EOS</td>
                            </tr>
                            <!--Total transacitons-->
                            <tr>
                                <td colspan="2" ></td>
                                <td colspan="1" class="positive right aligned">
                                1244 EOS
                                </td>
                            </tr>
                        </tbody>
                        <!--End of transactions list-->
                    </table>
                </div>
            </div>
        </div>
    </div> 

</div>


<!--End of main-div-->
</div>

<% include partials/footer %>