<% include partials/header %>

<div class="ui raised padded container segment main-div">

<h2>EOS Transactions</h2>
<small>Showing Block (#5672764 to #5672740) out of 5672765 total blocks</small>
<table class="ui selectable celled table">
  <thead>
    <!--Table Header-->
    <tr>
        <th class="three wide">Transaction Hash</th>
        <th class="one wide">Block</th>
        <th class="one wide">Age</th>
        <th class="three wide">Sender</th>
        <th class="three wide">Receiver</th>
        <th class="one wide">Value</th>
    </tr>
  </thead>
  <!--Table Body-->
  <tbody>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>325 EOS</td>
    </tr>
    <!--Table body after current-->
    
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>755 EOS</td>
    </tr>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>624 EOS</td>
    </tr>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>5 EOS</td>
    </tr>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>3755 EOS</td>
    </tr>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>4095 EOS</td>
    </tr>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>6755 EOS</td>
    </tr>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>6875 EOS</td>
    </tr>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>855 EOS</td>
    </tr>
    <tr>
      <td>0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</td>
      <td>657465</td>
      <td>1 minute</td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td><a href="">0x35774bca3f245307b249a6ed0f199f003589d1c7dd5e4429d3ec4c98cee153d5</a></td>
      <td>609 EOS</td>
    </tr>
  </tbody>
  <tfoot>
    <!--End of Table content-->
    <tr><th colspan="6">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
</table>

</div>

<% include partials/footer %>
