#left-info {
    padding-left: 0;
    padding-top: 25px;
}

#right-info {
    padding-right: 0;
    padding-top: 25px;
}

#middle-info {
    padding-top: 25px;
}

#info {
    padding-right: 10px;
    padding-left: 0;
    padding-top: 25px;
}
.main-div {
    /*top:50px;*/
}

.tx-box {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

td, th {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#ribbon {
    overflow: visible;
}

#hash {
    color: #016936;
}

#positive-content {
    color: #016936;
}

